@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-container {
  width: 1024px;
  margin: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.FlashMessage{
  position: absolute;
  width: 200px;
  top:20px;
  left: 50%;
}